
<div class="about container-fluid px-0 ">
        <div class="container-fluid about-content position-relative ">
            <div class="row w-75 mx-auto py-5 ">
                <h2 class="fw-bold fs-1">About Us</h2>
                <div class="col-md-6 pe-5">
                    <div class="item ">
                        <p class="fs-6 fw-bolder">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an </p>
                        <img class="w-75 px-3 image" src="../../assets/images/Rectangle263.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6 ps-5 ">
                    <div class="item">
                        <h2 class="fw-bold fs-1">Where</h2>
                        <p class="fs-6 fw-bolder">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
            </div> 
             <button class="btn text-center bg-warning px-5 py-2 rounded-pill fw-bolder mb-5 text-black position-absolute bottom-0 start-50 translate-middle-x">Help Me</button>         
        </div> 

</div>


